---
layout: job_page
title: "Sales Administrator"
---

## Responsibilities

* Be the first point of contact for the majority of non-technical inquiries via email
* Respond to/redirect non-technical inquiries
* Provide basic product information and more detailed information on the various subscriptions and services we offer
* Provide quotes, update licenses and account information or pass off the inquiry to Account Managers or Support Engineers
* Process sales orders, issue license keys and manage a small sales pipeline of your own
* Work with our Controller on customer payments and other back-end finance related activities
* Manage the upcoming [Summit](https://about.gitlab.com/culture/).


<%= partial "includes/apply_and_about" %>
