.feature-group {
  padding: 76px 0 66px;

  .flex-row {
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-wrap: wrap;
    }

    &::before,
    &::after {
      content: none;
    }
  }
}

.feature {
  position: relative;
  width: 99%;
  margin-bottom: 45px;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: center;

  @media (min-width: $screen-md-max) {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-md-min) {
    width: 49%;
  }

  @media (min-width: $screen-lg-min) {
    width: 24%;
  }
}

.feature-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 122px;
  margin: 0 auto;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px solid $color-accent-light;
    content: "";
  }
}

.feature-body {
  padding: 0 20px;
}

.feature-label {
  @include accent-font-bold;
  position: relative;
  padding-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;

  &::after {
    $lt-width: 72px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: $lt-width;
    height: 4px;
    margin-left: -#{$lt-width / 2};
    content: "";
  }

  @each $lt-child, $lt-color in (1: #fca326, 2: #f38327, 3: #ea6328 , 4: #e24329) {
    .feature:nth-child(#{$lt-child}) & {
      color: $lt-color;

      &::after {
        background-color: $lt-color;
      }
    }
  }
}

.feature-title {
  @include accent-font-regular;
  $lt-color: #34373c;
  color: $lt-color;
  font-size: 26px;

  .js-hover & {
    text-decoration: $link-hover-decoration;
  }
}

.feature-description {
  margin-bottom: 16px;
  font-weight: 300;
}

.feature-more {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: 600;
  text-align: center;
}
