---
layout: job_page
title: "VP of Business Development and Strategy"
---

DRAFT

## Responsibilities

You are responsible for strategic business development and our strategy from an outside perspective. This perspective is based on our customers, partners, and the market. You are responsible for:

- Strategic partnerships (integrations, container schedulers, hosting, channel, open source, OEM-deals)
- Business development
- Corporate positioning (conversational development, remote only)
- Assist with Investor relations (strategy conversations, industry perspective, participate in fund-raising with CFO and CEO, monthly updates, answering questions)

You and your team would communicate the strategic direction of the company at:

- Strategic customer visits (CIO of Fortune 500 company)
- Industry events (PromCon, AWS re:Invent, Microsoft Build)
- Investor relation events

## Requirements

- Problem solver who can quickly master new concepts and subject matter.
- Understand the ALM market and all its players, from Docker to AWS, from Perforce to PTC.
- Understand the strategic interests of all the players in the ALM industry.
- History of making complex partnerships successful.
- Excellent verbal and written communication skills.
- Relationship focused, a positive relation with our partners.
- Be able to represent the company in place of the CEO.
- Extensive network in the ALM industry.
- Ability to work well with colleagues both in and outside of the organization, with good judgment, discretion, and tact.
- Ability to [lead a team](https://about.gitlab.com/handbook/leadership/) and good management skills.
- You share our [values](/handbook/values), and work in accordance with those values
- Successful completion of a [background check](/handbook/people-operations/#background-checks).


<%= partial "includes/apply_and_about" %>
