---
layout: job_page
title: "Sales Administrator- EMEA"
---

As the Sales Administrator for EMEA, you will play a critical role in support of our sales team.

You will report to the Director of Sales Operations and will support our sales team in a number of essential sales-related tasks such as generating quotes, sending legal documents, and working with Finance to complete vendor forms. You will also serve in a customer-facing capacity where you will answer questions related to a customer’s account, including questions related to renewing or upgrading their GitLab service. Finally, you will play an important role in the data quality of our systems, using third-party tools to enrich and keep our business systems up-to-date.

About you: You are comfortable multi-tasking while simultaneously paying very close attention to detail. You will also be highly organized and an excellent   communicator. You like to follow process, almost to a fault.

If you are these things, and are passionate about sales support and can demonstrate how you’ve made the sales teams you’ve supported successful, we’d love to hear from you.

## Responsibilities

* Support our Account Executives/Managers and Sales Development Representatives by assisting with the generation of proposals, and completing vendor forms and other documentation required by the prospect/customer.
* Follow up on prospect and customer inquiries sent to sales@ and contact@ and route to appropriate team.
* Support our SMB customers/prospects with purchasing and license issuance inquiries, account maintenance, renewals and upsells.
* Maintain data integrity within customer records in Salesforce.com and other systems.
* Enrich our CRM with data from third-party sources.
* Contribute to documenting improvements in our [sales handbook](https://about.gitlab.com/handbook/sales/).
* Be the voice of the customer by contributing product ideas to our public [issue tracker](https://gitlab.com/gitlab-org/gitlab-ee/issues).

## Requirements
* 2+ years of experience with B2B sales, preferably in a sales support/admin role.
* Located in GMT+0 or GMT+1 Time Zones to support EMEA and APAC sales teams.
* Interest in GitLab and open source software.
* Motivated, driven, and results oriented.
* Highly organized, with the ability to handle multiple tasks/deliverables at once.
* Preferred candidates have experience with Salesforce.com, Zuora, and data enrichment tools.
* You share our [values](/handbook/#values), and work in accordance with those values.


<%= partial "includes/apply_and_about" %>